<div class="p-5 flex flex-col justify-between h-full">
  <div class="font-bold text-lg text-center">ShopLia</div>
  <div class="mt-8 flex-1">
    <ul>
      <li class="mb-4">
        <a
          routerLink="/home"
          routerLinkActive="active-route"
          class="block hover:underline"
          >Home</a
        >
      </li>
      <li class="mb-4">
        <a
          routerLink="/products"
          routerLinkActive="active-route"
          class="block hover:underline"
          >Products</a
        >
      </li>
      <li class="mb-4">
        <a
          routerLink="/cart"
          routerLinkActive="active-route"
          class="block hover:underline"
          >Cart</a
        >
      </li>
    </ul>
  </div>
  <div class="flex items-center">
    <div class="mr-3">
      <h3
        class="w-8 h-8 bg-blue-500 rounded-full flex items-center justify-center text-white"
      >
        AJ
      </h3>
    </div>
    <div><span>Abdelali Djebara</span></div>
  </div>
</div>
