<div class="relative flex items-center justify-between px-5 py-2">
  <div
    class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]"
  >
    <div class="font-bold text-lg text-center">ShopLia</div>
  </div>
  <div>
    <ul class="flex items-center">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active-route"
          class="block hover:underline"
          >Home</a
        >
      </li>
      <li class="mx-4">
        <a
          routerLink="/products"
          routerLinkActive="active-route"
          class="block hover:underline"
          >Products</a
        >
      </li>
    </ul>
  </div>
  <div class="flex items-center">
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontSet="material-icons-outlined"
        >person</mat-icon
      >
    </button>
    <div class="relative">
      <span
        class="pointer-events-none absolute flex items-center justify-center z-10 top-[2px] right-0 w-5 h-5 bg-blue-500 text-white text-sm rounded-full"
        >1</span
      >
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontSet="material-icons-outlined"
          >shopping_cart</mat-icon
        >
      </button>
    </div>
  </div>
</div>
