<div *ngIf="product$ | async as product" class="flex gap-7 px-8">
  <div class="max-w-[600px]">
    <img
      class="w-full h-full object-cover object-top"
      [defaultImage]="product.picture.formats.thumbnail.url"
      [lazyLoad]="product.picture.url"
      [alt]="product.picture.name"
    />
  </div>
  <div class="min-w-[500px] relative">
    <!-- commands -->
    <div class="absolute top-0 right-0" *appHasRole="'Admin'">
      <button
        [routerLink]="'../../edit/' + product.id"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontSet="material-icons-outlined"
          >edit</mat-icon
        >
      </button>
    </div>
    <!-- product details -->
    <h3 class="font-semibold text-3xl">{{ product.title }}</h3>
    <div class="my-10">
      <span class="font-medium text-xl text-blue-500">{{
        product.price | currency : "MAD" : "DH" : "" : "fr-FR"
      }}</span>
    </div>
    <p>{{ product.description }}</p>

    <div class="my-8">
      <app-quantity></app-quantity>
    </div>

    <button
      class="px-14 py-3 bg-blue-500 text-white uppercase flex items-center justify-center"
    >
      <mat-icon
        class="mr-3"
        aria-hidden="false"
        aria-label="Example home icon"
        fontSet="material-icons-outlined"
        >add_shopping_cart</mat-icon
      >
      Add to cart
    </button>
  </div>
</div>
