<div>
  <h1 class="font-bold text-lg">Welcome</h1>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
    necessitatibus eaque unde officiis repellendus quam, quis eligendi aperiam
    possimus? Repellendus et maiores corrupti accusantium totam velit nemo quos
    itaque, sed magnam, ea eligendi numquam corporis consequuntur. Hic
    doloremque nihil blanditiis animi cupiditate, mollitia reprehenderit unde
    sed explicabo at ex officiis.
  </p>
  <div class="mt-4">
    <div class="flex flex-wrap gap-3">
      <div *ngFor="let card of [].constructor(9)">
        <div class="w-[200px] h-[200px] bg-slate-300 rounded"></div>
      </div>
    </div>
  </div>
</div>
